.container {
    background-color: rgb(231, 231, 231);
    display: flex;
    padding-top: 40px;
    align-items: center;
    justify-content: center;
}
.search {
    padding-top: 40px;
    background-color: rgb(231, 231, 231);
}
